
/*About*/

.about{
	padding: 60px 0;
	margin: 0 auto;
	background: linear-gradient(0deg, #000,#073042 );
	position: relative;
	width: 100%;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}


.about div.about-title{
	color: rgb(6, 218, 255);
	text-shadow: -1px -2px  rgb(67, 170, 189);
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;
	letter-spacing: 2px;
	position: relative;
	animation: scaletitle 2s step-end infinite;
	animation-delay: 0s;
	margin: 30px 0 50px 0;
	text-transform: uppercase;
	transition: all 0.5s ease-in-out;
}

@keyframes scaletitle{
	0%,40%,80%{
		transform: rotate(2deg);
	}
	20%,60%,100%{
		transform: rotate(-2deg);
	}
	
}

.about div.about-title:hover{
	font-size: 2.6rem;
}

.about div.about-content{
	position: relative;
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 
		'infos infos infos aboutme aboutme aboutme'
		'infos infos infos skill skill skill';
	width: 70%;
	margin: 0 auto;
	padding: 30px;
	border: 2px outset  #03e9f4;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}

.about div.about-content:hover{
	transform: scale(1.01);
}

.about-content div.infos{
	grid-area: infos;
	padding: 50px 20px;
	min-width: 300px;
	width: 100%;
	margin: 0 auto;
	border: 2px outset  #03e9f4;
	position: relative;
	border-radius: 5px;
	transform: perspective(600px) rotate(0deg);
	transition: all 0.5s ease-in-out;
}

.about-content div.infos:hover{
	transform: perspective(600px) scale(1.02) rotateY(3deg);
	background: rgba(0, 0, 0, 0.02);
}

.about-content div.infos:hover img{
	transform: scale(1.03);
}


.about-content div.infos img{
	margin-left: 20px;
	width: 240px;
	height: 240px;
	border-radius: 50%;
	border: 1px solid #000;
	box-shadow: 0 0 5px 3px rgba(255, 240, 240, 0.5);
	transition: all 0.5s ease-in-out;
}

.infos div.content-item{
	margin-left: 15px;
	margin-top: 40px;
}

.infos div.content-item .item-text{
	font-size: 1.1rem;
	line-height: 2rem;
	color: #fff;
}

.infos div.content-item .item-text span{
	font-size: 1.2rem;
	font-weight: bold;
}


.about-content div.about-me{
	grid-area: aboutme;
	position: relative;
	margin: 0 auto;
	padding: 20px;
	min-width: 300px;
	width: 100%;
	border-radius: 5px;
	border: 2px outset  #03e9f4;
	transform: perspective(600px) rotate(0deg);
	transition: all 0.5s ease-in-out;
}

.about-content div.about-me:hover{
	transform: perspective(600px) scale(1.02) rotateY(-3deg);
	background: rgba(0, 0, 0, 0.02);
}

.about-content div.about-me:hover .abt-title{
	text-shadow: -1px -1px  rgb(36, 81, 218);
	transform: scale(1.05);
}

.about-content div.about-me .abt-title{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	padding: 5px 0;
	letter-spacing: 1px;
	width: 80%;
	border-radius: 5px;
	color: rgb(5, 217, 255);

	box-shadow: inset 0px 0px 5px 3px #4bf6ff;
	text-shadow: -1px -2px  rgb(36, 81, 218);
	background: #eeeeee;
	margin-bottom: 20px;
	transition: all 0.5s ease-in-out;
	text-transform: uppercase;
}

.about-content div.about-me .abtme-content{
	font-size: 1rem;
	line-height: 1.5rem;
	color: #fff;
	text-align: justify;
}

.about-content div.hobbies{
	position: relative;
	grid-area: skill;
	margin: 0 auto;
	padding: 20px;
	min-width: 280px;
	width: 100%;
	border-radius: 5px;
	border: 2px outset  #03e9f4;
	transform: perspective(600px) rotate(0deg);
	transition: all 0.5s ease-in-out;
}

.about-content div.hobbies:hover{
	transform: perspective(600px) scale(1.02) rotateY(-3deg);
	background: rgba(0, 0, 0, 0.02);
}

.about-content div.hobbies:hover .hobbies-title{
	transform:scale(1.05);
	text-shadow: -1px -1px  rgb(36, 81, 218);
}
.about-content div.hobbies .hobbies-content{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 15px;
	justify-content: center;
	align-items: center;
}

.about-content div.hobbies .hobbies-title{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	padding: 5px 0;
	letter-spacing: 2px;
	width: 80%;
	color: rgb(5, 217, 255);

	box-shadow: inset 0px 0px 5px 3px #4bf6ff;
	text-shadow: -1px -2px  rgb(36, 81, 218);
	background: #eeeeee;
	border-radius: 5px;
	margin-bottom: 20px;
	transition: all 0.5s ease-in-out;
	text-transform: uppercase;
}

.about-content div.hobbies .hobbies-content .hobbies-item{
	overflow: hidden;
	display: block;
	position: relative;
	font-size: 1.05rem;
	line-height: 1.5rem;
	color: #000;
	border: 1px outset #c3c3c3;
	box-shadow: 3px 3px  rgba(0, 0, 0, 0.4);
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 5px 10px;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
	background: #ffffff;
	border-radius: 3px;
}

.about-content div.hobbies .hobbies-item i{
	font-size: 1.2rem;
}

.about-content div.hobbies .hobbies-item:hover{
	transform: perspective(600px) scale(1.1) rotateY(10deg);
}


main{
	position: absolute;
	background: rgb(125, 217, 233);
	transform: translate(-50%,-50%);
	pointer-events: none;
	border-radius: 50%;
	animation: animate 1s linear infinite;
   }
   
@keyframes animate{
0%{
	width: 0;
	height: 0;
	opacity: 0.5;
}
100%{
	width: 500px;
	height: 500px;
	opacity: 0;
}
}







/*Formation*/
.body-formation{
	position: relative;
	margin:0 auto;
     padding: 50px 0;
	display: flex;
	flex-direction: column;
     justify-content: center;
     align-items: center;
	min-height: 80vh;
	width: 100%;

}

.body-formation .formation-title{
	color: rgb(6, 218, 255);
	text-shadow: -1px -2px  rgb(27, 88, 255);
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	font-size: 2.4rem;
	letter-spacing: 2px;
	position: relative;
	margin-bottom: 70px;
	animation: updownforma 0.5s ease infinite;
	transition: all 0.5s ease-in-out;
	text-transform: uppercase;

}
@keyframes updownforma{
	0%,100%{
		transform: translateY(4px);
	}
	50%{
		transform: translateY(-4px);
	}
}
.body-formation .formation-title:hover{
	font-size: 2.55rem;

}




.body-formation .formation{
     position: relative;
     width: 85%;
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
	grid-column-gap: 30px;
	grid-row-gap: 80px;
	padding: 0;
	margin: 0;
	justify-content: center;
	align-items: center;

}

.formation .box{
     position: relative;
     background: #060c21;
     display: flex;
     justify-content: center;
     align-items: center;
     border: 1px solid #000;
	min-height: 440px;
	width: 310px;
	transition: 0.5s;
	border-radius: 2px;
	margin: 0 auto;
}
  

.formation .box:nth-child(1):hover{
     background: url(../img/about/qnhon.jpeg);
     background-position: center;
     background-size: cover;
     box-shadow: inset 0px -150px 200px #000000, inset 0px 0px 50px #000000;

}
.formation .box:nth-child(2):hover{
     background: url(../img/about/hue.jpeg);
     background-position: center;
     background-size: cover;
     box-shadow: inset 0px -150px 200px #000000, inset 0px 0px 50px #000000;

}
.formation .box:nth-child(3):hover{
     background: url(../img/about/blois.jpeg);
     background-position: center;
     background-size: cover;
     box-shadow: inset 0px -150px 200px #000000, inset 0px 0px 50px #000000;

}
.formation .box:nth-child(4):hover{
     background: url(../img/about/paris.jpeg);
     background-position: center;
     background-size: cover;
     box-shadow: inset 0px -150px 200px #000000, inset 0px 0px 50px #000000;

}


.formation .box:before{
     content: '';
     position: absolute;
     top: -2px;
     left: -2px;
     right: -2px;
     bottom: -2px;
     background: #fff;
	transform: skew(2deg,2deg);
	z-index: -1;
}

.formation .box:nth-child(1):before{
     background: linear-gradient(315deg,#ff0057,#e64a19) ;
}
.formation .box:nth-child(2):before{
     background: linear-gradient(315deg,#89ff00,#00bcd4) ;
}
.formation .box:nth-child(3):before{
     background: linear-gradient(315deg,#e91e63,#5d02ff) ;
}
.formation .box:nth-child(4):before{
     background: linear-gradient(315deg,#ff0000,#ffc107) ;
}

.formation .box:after{
     content: '';
     position: absolute;
     top: 0px;
     left: 0px;
     width: 50%;
     height: 50%;
     background: rgba(255,255,255,0.05);
	pointer-events: none;
}

.formation .content{
     position: relative;
     padding: 25px;
}

.formation .content h2{
     position: absolute;
     top: 0;
     right: 20px;
     margin: 0;
     padding: 0;
	font-size: 4rem;
	text-shadow: -1px -2px  rgb(36, 206, 218);
     color: rgba(29, 255, 206, 0.5);
     transition: 0.5s;
     min-height: 100px;
}

.box:hover .content h2{
	top: -50px;

}

.box .content h3{
     position: absolute;
     min-height: 50px;
     top: 45%;
     left: 0%;
     width: 100%;
     text-align: center;
     margin:  0 0 10px;
     padding: 0;
     font-size: 1.3rem;
     font-weight: 600;
     color: rgb(36, 206, 218);
     transform: translateY(0);
     transition: all 0.5s ease-in-out;
}

.box:hover .content h3{
	color: #fff;
     position: relative;
     transform: translateY(10px);
     transition: all 1s ease-in-out;
}

.box .content p{  
     justify-content: flex-end;
     margin:  0;
     padding: 0;
     font-size: 1.1rem;
     line-height: 1.5rem;
     color: #fff;
     opacity: 0;
     visibility: hidden;
     transition: all 0.5s ease-in-out;
	min-height: 220px;
	text-align: center;

}



.box:hover .content p{
     color: #fff;
     opacity: 1;
     visibility: visible;
}



/*Media header*/
@media only screen and (max-width: 1280px){

	.about div.about-content{
		grid-template-areas: 
			'infos  aboutme '
			'skill skill ';
	}
	.about-content div.hobbies:hover{
		transform: perspective(600px) scale(1.02) rotateY(0deg);
	}
}

@media only screen and (max-width: 1024px){

	.about div.about-content{
		grid-template-areas: 
			'infos'  
			'aboutme'
			'skill';
	}

	.about-content div.infos:hover{
		transform: perspective(600px) scale(1.02) rotateY(0deg);
		background: rgba(0, 0, 0, 0.02);
	}
	.about-content div.about-me:hover{
		transform: perspective(600px) scale(1.02) rotateY(0deg);
		background: rgba(0, 0, 0, 0.02);
	}
	.about-content div.hobbies:hover{
		transform: perspective(600px) scale(1.02) rotateY(0deg);
	}

	.about-content div.infos{
		display: grid;
		grid-template-columns: repeat(2,1fr);
		justify-content: center;
		align-items: center;
	}

	.about-content div.infos img{
		margin: 0 auto;
		margin-left: 20px;
	}
	
	.infos div.content-item{
		margin: 0 auto;
	}
	
	.formation .box{
		min-height: 440px;
		width: 330px;

	}
}

@media only screen and (max-width: 768px){
	.about div.about-content{
		width: 80%;
	}

	.about-content div.infos img{
		width: 200px;
		height: 200px;
	}
	
	.infos div.content-item{
		margin: 0 auto;
		margin-left: 10px;
	}
	.formation .box{
		min-height: 440px;
		width: 300px;

	}
}

@media only screen and (max-width: 360px){
	.about div.about-content{
		width: 100%;
		box-shadow: none;
		justify-content: center;
	}

	.about-content div.infos{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px 0;
		min-height: 350px;
	}

	.about-content div.infos img{
		margin: 0 auto;
		width: 150px;
		height: 150px;
		margin-bottom: 10px;
	}
	
	.infos div.content-item{
		margin: 0 auto;
		padding: 0;
	}
	.infos div.content-item .item-text{
		font-size: 1rem;
		line-height: 2rem;
	}
	
	.infos div.content-item .item-text span{
		font-size: 1.2rem;
		font-weight: bold;
	}

	.about div.about-content:hover{
		transform: scale(1);
	}

	
	.about div.about-title{
		font-size: 1.7rem;
	}

	.about div.about-title:hover{
		font-size: 1.8rem;
	}

	.about-content div.about-me .abt-title{
		font-size: 1.3rem;
	}
	
	.about-content div.hobbies .skill-title{
		font-size: 1.3rem;
	}

	.about-content div.hobbies{
		min-height: 370px;
	}

	.about-content div.about-me .abtme-content{
		font-size: 1rem;
		line-height: 1.3rem;
		text-align: justify;
	}

	.formation .box{
		min-height: 400px;
		width: 270px;

	}
	
}




