@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
}


body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #6649b8,#ee1515) no-repeat;
}

body{
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
}


/*header*/
header.header-nav{
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  min-height: 6vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.banner{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  background: #000;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  z-index: 2;
  background: linear-gradient(0deg,#073042, #000 );
}


header a.logo{
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
  
}

header .logo span{
  position: relative;
  left: 0;
  top: 0;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}


header .logo:hover span{
  transform: scale(1.1);
}



#navigation{
  position: relative;
  place-items: center;
  transition: all 0.5s ease-in-out;
}

#navigation ul{
  position: relative;
  display: flex;
}

#navigation ul li{
  list-style: none;
  padding-left: 50px;
}

#navigation .nav-link{
  color: #fff;
  text-decoration: none;
  display: flex;
  position: relative;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2rem;
  opacity: 0.9;
  text-transform: uppercase;
  padding: 7px 0;

  transition: all 0.2s ease-in-out;
}

#navigation .nav-link i{
  display: inline;
  padding: 0 10px 0 0;
}

.nav-link::before{
  content: '';
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 0.5s ease;
  background-color: white;
}


#navigation .nav-link:hover{
  transform: scale(1.1);
  opacity: 1;
}
.nav-link:hover:before{
  width: 100%;
}


/*rocket*/
.scene{
  z-index: 999;
}
.scene i{
  position: absolute;
  top: -250px;
  background: rgba(255, 255, 255, 0.5);
  animation: animateStarts linear infinite;
}

@keyframes animateStarts{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(110vh);
  }
}



/*Toggle*/
.wrapper-header #check{
  display: none;
}

.wrapper-header #check:checked ~ .sidebar{
  right: 0;
}

.wrapper-header label #toggle{
  display: none;
  position: fixed;
  top: 15px;
  right: 50px;
  overflow: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 999;
}

.wrapper-header label #toggle:before{
  content: '';
  position: absolute;
  top: 7px;
  width: 100%;
  height: 2px;
  background: #fff;
}

.wrapper-header label #toggle:after{
  content: '';
  position: absolute;
  bottom: 7px;
  width: 100%;
  height: 2px;
  background: #fff;
}

.wrapper-header #check:checked ~ label #toggle:before{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
}

.wrapper-header #check:checked ~ label #toggle:after{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}

.wrapper-header #check:checked ~ label #toggle{
  top: 15px;
  right: 20px;
  transform: rotate(-720deg);
}

.wrapper-header .sidebar{
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100%;
  background: #2e2f30;
  transition: all 0.5s ease-in-out;
}

.wrapper-header .sidebar header{
  height: 63px;
  text-align: left;
  user-select: none;
  text-transform: uppercase;
  background: #202020;
  overflow: hidden;
}

.wrapper-header .sidebar header span{
  font-size: 2rem;
  color: #fff;
  line-height: 60px;
  letter-spacing: 0.4ch;
  font-weight: 800;
  transition: all 0.5s ease-in-out; 
  overflow: hidden;
}


.wrapper-header .sidebar ul{
  list-style: none;
}
.wrapper-header .sidebar ul a{
  display: block;
  color: #fff;
  text-decoration: none;
  height: 100%;
  width: 100%;
  line-height: 5rem;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #000;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.wrapper-header .sidebar ul a span{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1rem;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
}
.wrapper-header .sidebar ul a i{
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}
.wrapper-header ul li:hover a span,.wrapper-header ul li:active a span{
  font-size: 1.3rem;
}

.wrapper-header ul li:hover a i,wrapper-header ul li:active a i{
  transform: scale(1.3);
}

.link-text{
  display: inline;
  position: absolute;
  left: 999px;
}

.wrapper-header #check:checked ~ .sidebar ul a span.link-text{

  left: 70px;
}

.header-text{
  position: absolute;
  right: 9999px;
}

.wrapper-header #check:checked ~ .sidebar header span.header-text{
  right: 55px;
}





/*Content*/

.content{
  position: relative;
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.content h2{
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  letter-spacing: 2px;
}

.content h2 span{
  color: #40c3ff;
  font-size: 2.8rem;
}

.content .animate-text{
  position: relative;
  padding: 2rem 0;
}

.content .animate-text span{
  position: relative;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 3px;
  animation: animatetext 2s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animatetext{
  0%,40%,100%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(-20px);
  }
}


.content a{
  position: relative;
  display: inline-block;
  margin-top: 10px;
  background: #fff;
  color: #000;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  font-weight: 600;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.content a:hover{
  color: #03e9f4;
  background: #333;
  font-weight: 600;
}

.content a:focus{
  color: #03e9f4;
  background: #333;
  transform: scale(0.97);

}

.loader{
  position: relative;
  width: 176px;
  height: 61px;
  border-radius: 5px;
  margin: auto;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}
.loader:hover{
  background: #03e9f4;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}

.loader span{
  position: absolute;
  display: block;
}


.loader span:nth-child(2)
{
  top: 0;
  left: -100%;
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, transparent,#03e9f4);
  animation: animate1 1s linear infinite;
  animation-delay: 0s;
}

@keyframes animate1{
  0%{
    left: -100%;
  }
  100%{
    left: 100%;
  }
}

.loader span:nth-child(3)
{
  top: -100%;
  right: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(180deg, transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate2{
  0%{
    top: -100%;
  }
  100%{
    top: 100%;
  }
}

.loader span:nth-child(4)
{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0s;
}

@keyframes animate3{
  0%{
    right: -100%;
  }
  100%{
    right: 100%;
  }
}

.loader span:nth-child(5)
{
  bottom: -100%;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(0deg, transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate4{
  0%{
    bottom: -100%;
  }
  100%{
    bottom: 100%;
  }
}

/*SCI*/
.sci{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 50px;
}

.sci li{
  list-style: none;
}

.sci li a{
  position: relative;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border: 1px solid #fff;
  outline: none;
  border-radius: 5px;
  margin: 10px 0;
}

.sci li a:hover{
  background: #fff;
}

.sci li a img{
  max-width: 20px;
  filter: invert(1);
  mix-blend-mode: difference;
}



/*Media header*/
@media only screen and (max-width: 1280px){
  #navigation .nav-link{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
    padding: 7px 0;
  }
  #navigation ul li{
    padding-left: 30px;
  }
  


  .content h2{
    font-size: 2.2rem;
    line-height: 4rem;
  }
  
  .content h2 span{
    font-size: 2.5rem;
  }
  

}

@media only screen and (max-width: 1024px){

  header.header-nav{
    padding: 10px 50px;
  }
  
  #navigation .nav-link{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
    padding: 7px 0;
  }
  #navigation ul li{
    padding-left: 30px;
  }
  
  .sci li a{
    width: 50px;
    height: 50px;
    margin: 15px 0;
  }

  .content h2{
    font-size: 2.1rem;
    line-height: 4rem;
  }
  
  .content h2 span{
    font-size: 2.5rem;
    line-height: 3rem;
  }
  

}

@media only screen and (max-width: 768px){

  .content{
    position: relative;
    max-width: 90%;
    margin: auto;
  }

  .content h2{
    font-size: 2.5rem;
    line-height: 4rem;
  }
  
  .content h2 span{
    font-size: 3rem;
    line-height: 4rem;
  }
  

  #navigation{
    display: none;
  }

  .wrapper-header label #toggle{
    display: block;
  }

  .sci{
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 100px;
    left: 80px;
  }
  .sci li a{
    margin: 0 20px 0 0;
  }
}

@media only screen and (max-width: 360px){

  #navigation{
    display: none;
  }

  .wrapper-header label #toggle{
    display: block;
  }

  header.header-nav{
    padding: 10px 20px;
  }

  header .logo span{
    font-size: 2rem;

  }

  .wrapper-header label #toggle{
    top: 14px;
    right: 20px;
    width: 25px;
    height: 25px;
  }
  
  .wrapper-header #check:checked ~ label #toggle{
    top: 14px;
    right: 20px;
  }

  .wrapper-header .sidebar{
    right: -150px;
    width: 150px;
  }
  
  .wrapper-header .sidebar header{
    height: 54px;
    padding-top: 0;
  }
  
  .wrapper-header .sidebar header span{
    font-size: 1.4rem;
    line-height: 57px;
  }
  
  .wrapper-header .sidebar ul a{
    line-height: 4.5rem;
    padding-left: 20px;
  }
  
  .wrapper-header .sidebar ul a span{
    font-size: 0.9rem;
  }

  .wrapper-header ul li:hover a span,.wrapper-header ul li:active a span{
    font-size: 1rem;
  }
  
  .wrapper-header #check:checked ~ .sidebar ul a span.link-text{ 
    left: 45px;
  }
  
  .wrapper-header #check:checked ~ .sidebar header span.header-text{
    right: 50px;
  }


  .content{
    max-width: 100%;
  }

  .content h2{
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .content h2 span{
    font-size: 1.4rem;
    line-height: 2rem;
  }
  
  .content .animate-text span{
    font-size: 1rem;
  }


  .sci{
    display: none;
  }
}


















































